[submodule "Portfolio-for-Tanvi"]
	path = Portfolio-for-Tanvi
	url = https://github.com/AdityaRajvanshi18/Portfolio-for-Tanvi
[submodule "Weather-App"]
	path = Weather-App
	url = https://github.com/AdityaRajvanshi18/Weather-App
[submodule "restaurant"]
	path = restaurant
	url = https://github.com/AdityaRajvanshi18/restaurant
[submodule "calculator"]
	path = calculator
	url = https://github.com/AdityaRajvanshi18/calculator
[submodule "Etch-a-Sketch"]
	path = Etch-a-Sketch
	url = https://github.com/AdityaRajvanshi18/Etch-a-Sketch
[submodule "library"]
	path = library
	url = https://github.com/AdityaRajvanshi18/library
[submodule "tictactoe"]
	path = tictactoe
	url = https://github.com/AdityaRajvanshi18/tictactoe
